.fullwidth {
  width: 100vw;
  height: 100vh;
}

.background {
  background-image: url('podium.png');
  background-size: cover;
  background-position: bottom;
}

@media screen and (min-width: 769px) {
  .is-0 {
    font-size: 5rem !important;
  }
}
.is-0 {
  font-size: 3rem;
}
